.markdown {
    margin-bottom: 25px;
    line-height: 1.6;
    font-size: 14px;
    max-width: 520px;
    color: #333;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4 {
    margin: 20px 0 10px;
    color: #2f2f2f;
}

.markdown h2 {
    margin-top: 30px;
    margin-bottom: 0;
}

.markdown h2 + h2 {
    margin-top: 10px;
}

.markdown h3 {
    margin-top: 20px;
    color: #253033
}

.markdown h4 {
    color: #494848;
}

.markdown pre {
    padding: 10px;
    background: #fafafa;
    border: 1px solid silver;
    margin-bottom: 15px;
}

.markdown table {
    border: 0px solid black;
    border-spacing: 0px;
    margin-bottom: 20px;
}

.markdown table thead tr {
    font-size: 14px;
}

.markdown table thead tr th {
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    margin: 0px;
    padding: 8px;
    background-color: #fafafa;
}

.markdown table tr {
    color: black;
    font-size: 12px;
    background-color: white;
}

.markdown table tr.odd {
    background-color: #AAAAAA;
}

.markdown table tr td, th {
    border-bottom: 1px solid black;
    padding: 8px;
}

.markdown ul {
    margin: 10px 0;
}

.markdown ul li {
    list-style-type: circle;
    margin-left: 2em;
}

#aside-wrapper {
    position: fixed;
    top: 140px;
    left: 700px;
    border: 1px solid lightgrey;
    background-color: #fff;
    padding: 10px;
    width: 200px;
    border-radius: 2px;
    font-size: 14px;
}
#aside-wrapper a {
    display: block;
}
#aside-wrapper .h3 {
    margin-left: 1em;
    font-size: .85em;
}